# AZURE
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=
AZURE_STORAGE_ACCOUNT_NAME=

# GRAFANA
GRAFANA_URL=
GRAFANA_SA_TOKEN=

# POLARIS
POLARIS_URL=
POLARIS_TOKEN=

# POSTGRESQL
POSTGRESQL_CONNECTION_STRING=

# Kafka
KAFKA_BROKER=

# OPENTELEMETRY
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_ENV=local
OTEL_SERVICE_NAME=dl_obs
OTEL_SERVICE_NAMESPACE=dl_obs
OTEL_SERVICE_VERSION=0.1.0
